nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.navigation_links {
    width: 50%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navigation_links li a {
    padding: 10px;
    color: purple;
    font-size: 1.9rem;
    text-decoration: none;
}

.navigation_links a {
    text-decoration: none;
}