@import url("./booking-bar.css");
@import url("./ticket-item.css");

.body-container {
    background-color: #eae8f7;
}

.ticket-container-bg {
    background: url("/assets/images/tickets-container-bg.png") no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100%;
    z-index: 2;
    position: absolute;
    background-position: center -30vh;
}

.ticket-grid {
    display: grid;
    gap: 5em;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    max-width: 140em;
    border-radius: 10px;
    justify-items: center;
    justify-content: center;
}

.ticket-grid > * {
    grid-column: span 1;
}

.ticket-grid > *:nth-child(3n) {
    grid-column: 1 / 3; /* Span all columns */
}

.ticket-container .header {
    text-align: center;
    position: relative;
    z-index: 3;
    padding: 2em;
    color: white;
}

.booking-container {
    margin-top: 20px;
    background: linear-gradient(rgba(27, 3, 163, 0.3), rgba(27, 3, 163, 0.3)),
        url("/assets/images/tickets-booking-bg.png");
    background-size: cover;
    background-position: top;
    display: grid;
    justify-content: center;
    padding: 8em 0;
    margin-top: 8em;
}

.booking-container .booking-title {
    color: white;
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.tickets-information-container {
    background-color: white;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    margin: 3em 10em;
    padding: 4em;
    color: black;
}

.tickets-information-container .content {
    margin: 0 auto;
    position: relative;
    z-index: 3;
    font-size: 1em;
    border-radius: 10px;
    justify-items: center;
}

.tickets-information-container .content p {
    font-size: 1.5em;
    padding: 0.5em 1em;
}

.tickets-information-container .content h3 {
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em 1em;
}
